@font-face {
    font-family: 'Baloo Chettan';
    src: url('assets/font/BalooChettan2-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Average Sans';
    src: url('assets/font/AverageSans-Regular.ttf');
}

html {
    font-family: 'Average Sans';
    color: #232323;
    font-size: 28px;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    /* border-bottom: 1px solid #cecece; */
    gap: 15px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo-contenedor {
    display: flex;
}

header img {
    width: 200px;
}

header a {
    color: #232323;
    text-decoration: none;
    font-size: 0.571rem;
}

.buscador {
    background-color: #f0f0f0;
    margin: auto 0;
    padding: 0.3em 0.534em;
    border-radius: 25px;
    display: flex;
}

.buscador input {
    width: 30vw;
    background-color: inherit;
    border: none;
    margin: 0 0 0 1em;
    color: rgb(133, 133, 133);
    font-size: 0.367rem;
}

.buscador input:focus {
    outline: none;
    border: none;
}

.buscador i {
    font-size: 0.367rem;
    color: rgb(133, 133, 133);
}

header .carrito {
    font-size: 1rem;
}

header .user {
    font-size: 1rem;
}

.landing {
    background-image: url('assets/img/bg_bodega_alpha.png');
    background-size: cover;
    font-family: 'Baloo Chettan';
    position: relative;
}

.titles {
    max-width: 55vw;
    text-align: center;
    padding: 6em 0em 0em 2em;
}

.señora-imagen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    scale: 1.5;
    margin: 8em 7em 0 auto;
}

/* LAYOUT */

.banner {
    width: 100%;
    height: 120px;
    background-color: #614BC3;
    margin: 3em 0 0 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner img {
    width: 130px;
}


/* TYPOGRAPHY */

.titles h1 {
    color: #232323;
    margin: 0;
    font-size: 2.3rem;
    line-height: 1;
}

.titles p {
    margin: 0;
    color: #848484;
    line-height: 1.3;
    margin-top: 0.7em;
    font-size: 0.7rem;
    font-weight: bold;
}

.btn-comprar {
    background-color: #614BC3;
    border: none;
    font-family: inherit;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    padding: 0.5em 3em;
    font-size: 0.7rem;
    cursor: pointer;
    margin: 2em;
}

.hidden {
    display: none;
}

.bg-black-wall {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    opacity: 50%;
}

.popup {
    background-color: white;
    border-radius: 25px;
    width: 450px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 10px 50px rgb(59, 59, 59);
}

.popup-login {
    height: 330px;
}

.popup-registrate {
    height: 440px;
}

.form {
    color: #232323;
    width: 380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form h1 {
    color: #232323;
    font-size: 1.33rem;
    text-align: center;
    border-bottom: 1px solid #232323;
    margin-bottom: 0.5em;
}

.form input {
    color: #232323;
    font-size: 0.8rem;
    margin: 0.5em 0 1em 0;
    padding: 0.2em 0.2em;
    border: none;
    border-bottom: 1px solid #848484;
}

.form input:focus {
    outline: none;
}

.form input::placeholder {
    color: #848484;
}

.form button {
    background-color: #614BC3;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    width: 70%;
    align-self: center;
    padding: 0.25em;
    cursor: pointer;
}

.form p {
    margin: 0.2em 0 0 0;
    font-size: 0.6rem;
    text-align: center;
}

.form span {
    font-size: 1.2em;
    border-bottom: 1px solid #232323;
    cursor: pointer;
}

.form span:active {
    color: #614BC3;
}


/*---------------------- PAGINA PRODUCTOS ------------------------------------------------------------*/

.main-productos {
    font-family: 'Baloo Chettan';
}

.categorias {
    background-color: #614BC3;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    font-family: 'Average Sans';
    margin-bottom: 0.5em;
}

.categorias button {
    font-family: inherit;
    font-size: 0.5rem;
    color: white;
    font-weight: lighter;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.categorias button:active {
    color: #dddddd;
}

.main-productos h1 {
    margin: 0;
    text-align: center;
}

.catalogo {
    margin: 1em 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;

    .producto {
        width: 300px;

        & .imagen {
            height: 300px;
            background-color: #f0efed;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5em;

            & img {
                width: 250px;
            }
        }

        & p {
            margin: 0;
            font-size: 0.857rem;
            margin-left: 0.5em;
        }

        & .marca {
            color: #9a9a9a;
        }

        & .precio {
            color: #33BBC5;
            font-size: 1.14rem;
        }

        & .btn-agregar {
            background-color: #614BC3;
            color: white;
            border: none;
            border-radius: 25px;
            padding: 0.5em 1.5em;
            display: block;
            margin: 1em auto;
            font-size: 0.8rem;
            cursor: pointer;
        }

        & .btn-agregar:hover {
            background-color: #503ea1;
        }

        & .btn-agregar:active {
            background-color: #493891;
            color: #dbdbdb;
        }
    }
}


/*---------------------- PAGINA CARRITO ------------------------------------------------------------*/

.main-carrito {

    & .categorias {

        & a {
            font-family: inherit;
            font-size: 0.5rem;
            color: white;
            font-weight: lighter;
            text-decoration: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    & h1 {
        font-family: 'Baloo Chettan';
        margin-left: 1em;
    }

    & .paneles {
        display: flex;
        justify-content: space-around;

        & .productos {
            border: 1px solid #f0efed;
            border-radius: 15px;
            width: 40vw;
            min-height: 400px;

            & .producto {
                display: flex;
                margin: 0.8em;
                padding-bottom: 0.8em;
                border-bottom: 1px solid #f0efed;
                
                & .imagen {
                    background-color: #f0efed;
                    width: 100px;
                    height: 100px;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1em;
        
                    & img {
                        width: 80px;
                    }
                }
        
                & .info {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    & p {
                        margin: 0;
                        font-size: 0.7rem;
                    }
        
                    & .precio {
                        color: #33BBC5;
                        margin: auto auto 0 0;
                    }
                }

                & .ux {
                    display: flex;
                    flex-direction: column;
                    width: 12vw;

                    & .btn-remove {
                        border: none;
                        background-color: transparent;
                        color: #614BC3;
                        font-size: 0.8rem;
                        cursor: pointer;
                        align-self: flex-end;
                    }

                    & .btn-remove:active {
                        color: #2a2053;
                    }

                    & .quantity {
                        margin: auto 0 0 0;
                        display: flex;
                        justify-content: end;
                        
                        & button {
                            width: 40px;
                            font-size: 0.8rem;
                            border: none;
                            background-color: #f0efed;
                            cursor: pointer;
                        }

                        & button:active {
                            background-color: #d8d8d8;
                        }

                        & .btn-sub {
                            border-top-left-radius: 15px;
                            border-bottom-left-radius: 15px;
                        }

                        & .btn-add {
                            border-top-right-radius: 15px;
                            border-bottom-right-radius: 15px;
                        }

                        & p {
                            margin: 0;
                            background-color: #f0efed;
                            padding: 0 0.5em;
                        }
                    }
                }
            }
        }

        & .resumen {
            border: 1px solid #f0efed;
            border-radius: 15px;
            width: 30vw;
            font-size: 0.7rem;
            align-self: flex-start;

            & .info {

                & p {
                    margin: 1em;
                }

                & .titulo {
                    font-weight: bold;
                }

                & .subtotal {
                    color: #aaaaaa;
                    display: flex;

                    & span {
                        margin-left: auto;
                        font-weight: bold;
                    }
                }

                & .descuento {
                    color: #aaaaaa;
                    display: flex;

                    & span {
                        margin-left: auto;
                        font-weight: bold;
                        color: #614BC3;
                    }
                }

                & .total {
                    font-weight: bold;
                    border-top: 1px solid #f0efed;
                    padding-top: 0.8em;
                    display: flex;
                    font-size: 0.8rem;

                    & span {
                        margin-left: auto;
                    }
                }
            }

            & .ux {
                padding: 0.4em 1em 3em 1em;

                & a {
                    width: 100%;
                    background-color: #614BC3;
                    color: white;
                    text-decoration: none;
                    border-radius: 50px;
                    padding: 0.5em 0;
                    margin-top: 1em;
                    font-size: 0.7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    & i {
                        margin-left: 0.2em;
                        font-size: 1rem;
                    }
                }

                & a:active {
                    background-color:#493891;
                }
            }
        }
    }
}


/*---------------------- PAGINA PEDIDO ------------------------------------------------------------*/

.main-pedido {

    & .categorias {

        & a {
            font-family: inherit;
            font-size: 0.5rem;
            color: white;
            font-weight: lighter;
            text-decoration: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    & h1 {
        font-family: 'Baloo Chettan';
        margin-left: 1em;
    }

    & .paneles {
        margin: 0 3em;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        font-family: 'Average Sans';

        & .usuario {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            width: 855px;
            border: 1px solid green;

            & .titulo {
                display: flex;
                gap: 0.5em;
                align-items: center;
                

                & .icono {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #614BC3;

                    & i {
                        color: white;
                        font-size: 0.8rem;
                    }
                }

                & h1 {
                    margin: 0;
                    font-size: 0.8rem;
                    font-family: inherit;
                    color: #614BC3;
                }
            }

            & .identificacion {
                width: 400px;
                border-radius: 15px;
                background-color: #F0EFED;
                padding: 0.7em;
                box-sizing: border-box;
                align-self: flex-start;

                & p {
                    margin: 0.5em;
                    font-size: 0.6rem;
                    color: #848484;
                }

                & .ux {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 13px;
                
                    & .dato-input {
                        display: flex;
                        flex-direction: column;
                        font-size: 0.6rem;
                        color: #b4b4b4;
                        margin: 0.5em 0;
                        width: 48%;

                        & input {
                            padding: 0.5em;
                            border: 1px solid #b4b4b4;
                            border-radius: 7px;
                            color: #848484;
                        }

                        & input:focus {
                            outline: none;
                            box-shadow: 0 0 10px #614BC3;
                        }

                        & select {
                            padding: 0.45em;
                            border: 1px solid #b4b4b4;
                            border-radius: 7px;
                            color: #848484;
                        }

                        & select:focus {
                            outline: none;
                            box-shadow: 0 0 10px #614BC3;
                        }
                    }

                    & .whole {
                        width: 100%;
                    }
                }

                & button {
                    color: #614BC3;
                    font-size: 0.7rem;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    margin: 1.5em 0 0.5em 0;
                    cursor: pointer;
                }

                & button:active {
                    color: #2a2053;
                }
            }

            & .envio {
                width: 400px;
                height: 600px;
                border-radius: 15px;
                background-color: #F0EFED;
                padding: 0.7em;
                box-sizing: border-box;
            }

            & .pago {
                width: 855px;
                height: 400px;
                border-radius: 15px;
                background-color: #F0EFED;
                padding: 0.7em;
                box-sizing: border-box;
            }
        }
    }

    & .resumen {
        min-width: 400px;
        width: 400px;
        height: 400px;
        border: 1px solid red;
    }
}